body {
  font-family: "Work Sans", sans-serif;
}

img {
  display: block;
  width: 10%;
  height: auto;
  margin-right: 2%;
}

.appjs {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  /* position: fixed; */
  background-color: white;
  margin-left: 5%;
}

.footer {
  position: absolute;
  margin-top: 5%;
  margin-left: 60%;
  margin-right: 5%;
  margin-bottom: 2%;
  text-align: right;
}

.link{
    font-size: large;
}

.link:link{
  text-decoration: none;
}

.credits{
font-size: x-small; 
}

a:link{
  text-decoration: none;
}

.comic-container {
  display: flex;
  text-align: left;
  flex-direction: column;
  margin-top: 3%;
  margin-left: 12%;
  color: black;
  background-color: white;
}

